<div class="row">
<div class="col-md-4 mx-auto">
<div class="card">
    <img src="movitab.png" id="img-principal" alt="terminal" class="card-img-top">
   <img src="terminal2.png" width="150" height="150" id="img-principal" alt="terminal" class="card-img-top">
   <div class="card-body">
      <div class="form-group">
         <h4>
            Recarga tu tajerta de Transporte Movitab
         </h4>
         <p class="text-muted text-sm mb-0 inputC">Introduce el No. tarjeta</p>
         <div class="row px-3 ">
            <input class="form-control form-control-lg" type="text" name="card-num" placeholder="0000 0000 0000 0000" size="18" id="cr_no" minlength="19" maxlength="19">
            <button onclick="handleFormSubmit()">Validar</button>
         </div>
          <h5 class="text-muted text-sm mb-0 inputC mititulo">Nombre</h5>
         <div class="row px-3 " style="margin-top:0px;">
            <input class="form-control form-control-lg" type="text" name="card-num" placeholder="Nombre" size="18" id="name" minlength="19" maxlength="19" value="">
         </div>
         <h5 class="text-muted text-sm mb-0 inputC mititulo">Saldo</h5>
         <div class="row px-3 " style="margin-top:0px;">
            <input class="form-control form-control-lg" type="text" name="card-num" placeholder="Saldo" size="18" id="saldo" minlength="19" maxlength="19" value="">
         </div>
      </div>
  
      
      <div class="product">
        <img src="card2.png" alt="The cover of Stubborn Attachments" />
        <div class="description">
         
          <p class="text-muted text-sm mb-0">Selecciona la  cantidad deseada a recargar</p>
      <select class="form-select" id="exampleSelect1" data-dashlane-rid="caac9455c98de654" data-form-type="other">
         <option>20</option>
         <option>50</option>
         <option>100</option>
         <option>150</option>
         <option>200</option>
      </select>
        </div>
      </div>
      <form action="/checkout" method="POST">
        <button type="submit" id="checkout-button">Recarga <i class="fa-solid fa-coins"></i></button>
      </form>
    </section>
</div>
</div>
 </section>
<script>
  function handleFormSubmit() {
    const cardNumInput = document.getElementById('cr_no');
    const nameInput = document.getElementById('name');
    const saldoInput = document.getElementById('saldo');

    const cardNumValue = cardNumInput.value.trim();

    fetch(`http://localhost:9000/api/tarjeta/${cardNumValue}`)
      .then(response => response.json())
      .then(dataArray => {
        // Obtener el primer objeto del arreglo
        const jsonData = dataArray[0];

        setTimeout(() => {
          document.getElementById('name').value = jsonData.nombre;
          document.getElementById('saldo').value = jsonData.saldo;
        }, 0);

        console.log(jsonData); // Puedes hacer algo más útil con los datos recibidos
      })
      .catch(error => {
        console.error(error);
      });
  }
</script>

